

header {
    position: absolute;
    width: 100%;
    padding-top: 32px;

}


.box {
    max-width: 1236px;
    margin: auto;

}
.section_1 {
    background-image: url("images/bg.png");
    background-position: top;
    background-size: cover;
    height: 100vh;
    position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

}